
<button (click)="squareOff('All','')">Sqr All</button>
<div class="row">
    <div class="col-12">
        <h6>Bullish</h6>
        <button (click)="toggleTrend('BUY')">Turn {{buy ? 'OFF' : 'ON'}}</button>&nbsp;&nbsp;
        <button (click)="squareOff('Bullish','')">Sqr</button>
        <table width="100%">
            <tr>
                <th>Time</th>
                <th>Security</th>
                <th>Qty</th>
                <th>Entry</th>
                <th>SL</th>
                <th>Exit</th>
            </tr>
            <tr *ngFor="let o of orders.bullish" [ngStyle]="{background: o.balance > 0 ? 'inherit' : '#d5dbdb'}">
                <td>{{o.time}}</td><td>{{o.symbol}}</td>
                <td>{{o.qty}}</td>
                <td>{{o.price | number : '1.1-2'}}</td>
                <td>{{o.trigger | number : '1.1-2'}} ({{o.sl_pcnt|percent:'0.1-1'}}) <div *ngIf="o.balance > 0">
                </div></td>
                <td [ngStyle]="{background:o.change_pcnt > 0 ? '#abebc6' : '#f5b7b1'}">
                    {{(o.balance == 0 ? o.exit : o.ltp) | number : '1.1-2'}} ({{o.change_pcnt|percent:'0.1-1'}})
                    <button *ngIf="o.balance > 0" (click)="squareOff('',o.security)">Sqr</button>
                </td>
                <!-- ({{o.change_pcnt|percent:'0.1-1'}}) -->
            </tr>
        </table>
    </div>
    <div class="col-12 mt-2">
        <h6>Bearish</h6>
        <button (click)="toggleTrend('SELL')">Turn {{sell ? 'OFF' : 'ON'}}</button>&nbsp;&nbsp;
        <button (click)="squareOff('Bearish','')">Sqr</button>
        <table width="100%">
            <tr>
                <th>Security</th>
                <th>Qty</th>
                <th>Entry</th>
                <th>SL</th>
                <th>Exit</th>
            </tr>
            <tr *ngFor="let o of orders.bearish" [ngStyle]="{background: o.balance > 0 ? 'inherit' : '#d5dbdb'}">
                <td>{{o.symbol}}</td>
                <td>{{o.qty}}</td>
                <td>{{o.price | number : '1.1-2'}}</td>
                <td>{{o.trigger | number : '1.1-2'}} ({{o.sl_pcnt|percent:'0.1-1'}}) <div *ngIf="o.balance > 0">
                </div></td>
                <td [ngStyle]="{background:o.change_pcnt > 0 ? '#abebc6' : '#f5b7b1'}">
                    {{(o.balance == 0 ? o.exit : o.ltp) | number : '1.1-2'}} ({{o.change_pcnt|percent:'0.1-1'}})
                    <button *ngIf="o.balance > 0" (click)="squareOff('',o.security)">Sqr</button>
                </td>
                <!-- ({{o.change_pcnt|percent:'0.1-1'}}) -->
            </tr>
        </table>
    </div>
</div>

