
<div class="row">
    <div class="col-12">
        <h6>Bullish</h6>
        <button (click)="toggleTrend('BUY')">Turn {{buy ? 'OFF' : 'ON'}}</button>
        <table width="100%">
            <tr>
                <th>Security</th>
                <th>Capital</th>
                <th>Net</th>
                <th></th>
            </tr>
            <tr *ngFor="let o of orders.bullish">
                <td>{{o.symbol}}</td>
                <td>{{(o.qty * o.price) | number : '1.0-0'}}</td>
                <td [ngStyle]="{background:o.change_valu > 0 ? '#abebc6' : '#f5b7b1'}">{{o.change_pcnt|percent:'0.1-1'}}</td>
                <!-- ({{o.change_pcnt|percent:'0.1-1'}}) -->
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-12 mt-2">
        <h6>Bearish</h6>
        <button (click)="toggleTrend('SELL')">Turn {{sell ? 'OFF' : 'ON'}}</button>
        <table width="100%">
            <tr>
                <th>Security</th>
                <th>Capital</th>
                <th>Net</th>
                <th></th>
            </tr>
            <tr *ngFor="let o of orders.bearish">
                <td>{{o.symbol}}</td>
                <td>{{o.qty * o.price | number : '1.0-0'}}</td>
                <td [ngStyle]="{background:o.change_valu > 0 ? '#abebc6' : '#f5b7b1'}">{{o.change_pcnt|percent:'0.1-1'}}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

