<div *ngIf="alert">

<div class="row">
    <div class="col-6">        
        <h4>{{alert.title}}</h4>
            {{alert.config?.exchange}} | {{alert.config?.segment}} | {{alert.config?.instrument}} | {{alert.interval}} {{alert.frequency}}
    </div>
    <div class="col-6 d-flex justify-content-end">
        <div class="row">
            <div class="col-12 m-0 p-0 fs-4 d-flex justify-content-end">
                <!-- {{alert.balance|currency:'INR':'symbol-narrow':'1.0-0'}} -->
                 <div class="row m-0 p-0">
                    <div class="col-12 m-0 p-0 d-flex justify-content-end">
                        <span [ngStyle]="{color:balance?.capital_change>0?'green':'red'}">{{balance?.capital_now|currency:'INR':'symbol-narrow':'1.0-0'}} ({{balance?.capital_change|percent: '1.1-1'}})</span>
                    </div>
                    <div class="col-12 m-0 p-0 fs-5 d-flex justify-content-end">
                     
                        <span [ngStyle]="{color:balance?.realized_pcnt>0?'green':'red'}"> {{balance?.realized_amt|currency:'INR':'symbol-narrow':'1.0-0'}} ({{balance?.realized_pcnt|percent: '1.1-1'}})</span> 
                        
                        <span [ngStyle]="{color:balance?.unrealized?.pcnt>0?'green':'red'}" style="padding-left: .5em;">{{balance?.unrealized?.amount|currency:'INR':'symbol-narrow':'1.0-0'}} ({{balance?.unrealized?.pcnt|percent: '1.1-1'}})</span>
                        <!--
                        <a class="text-primary-emphasis fs-5" style="padding-left: .5em;" (click)="squareOffAll()">
                            <i class="bi bi-bag-check-fill"></i></a> -->
                    </div>
                 </div>
            </div>
            <!-- <div class="col-12 m-0 p-0 d-flex justify-content-end">
               
            </div> -->
        </div>
        
        
        
        <!-- <button (click)="squareOffAll()">Sqr All</button> -->
    
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input type="date" [(ngModel)]="date">
        <button (click)="today()">Today</button>
    </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <app-alert-trend [alertid]="id" [date]="date"></app-alert-trend>
        </div>
        <div class="col-6">
            <app-alert-orders [alertid]="id" [date]="date" [buy]="alert.buy" [sell]="alert.sell" [squareAll]="squareAll"
            (squared)="resetSquareAll($event)"></app-alert-orders>
        </div>
    </div>
</div>